page-modal {
    button #modal-Btn{
      border-color: #0e5387;
      margin:15px;
      width:50vw;
      border-radius:50px;
      left:18vw
    }

    .buto{
      text-align: center;
    }


    .button-ios-sibleColor{
      border-color: #0e5387;
      margin:15px;
      width:50vw;
      border-radius:50px;
      left:20vw;
    }

}
