<!--
  Generated template for the ModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

  <ion-navbar color="sibleColor">
    <ion-title>Book a Ride</ion-title>
  </ion-navbar>

</ion-header>


<ion-content><br>


  <div *ngIf="showDestiAndBegin"><br>
    	  <ion-item class="do">
          <ion-label> <ion-icon name="car"></ion-icon></ion-label>
          <ion-input id="places" placeholder="Where to?"  clearInput type="text" [(ngModel)]="booking.intPlace"></ion-input>
        </ion-item>
        <div style="height:3vh"></div>
        <ion-item class="do">
          <ion-label> <ion-icon name="pin"></ion-icon></ion-label>
          <ion-input id="places" placeholder="Drop-Off Location"  clearInput type="text" [(ngModel)]="booking.desPlace"></ion-input>
        </ion-item><br>

      	<div class="padding">
      		<button color="sibleColor" class="thisButton modal button" ion-button (click)="goToSecondState()">Confirm</button>
      	</div>
  </div>










      <div *ngIf="showTimer">

        <div style="height:3vh"></div>
        <ion-item class="do padding">
          <ion-label> <ion-icon name="ios-time-outline"></ion-icon></ion-label>
          <ion-input id="places" placeholder="Select Time"  clearInput type="text" [(ngModel)]="booking.time"></ion-input>
        </ion-item><br>
        <div class="padding">
          <button style="border-color: #0e5387;margin:15px;width:50vw;border-radius:50px;left:20vw;" color="sibleColor" class="modal button" ion-button (click)="goToThirdState()">Confirm</button>
        </div>
      </div>

      <div *ngIf="showCarrage">
        <div style="height:3vh"></div>
        <ion-item>
          <ion-range min="1" max="5" step="2" [(ngModel)]="booking.heads">
            <ion-icon small range-left name="ios-person-outline"></ion-icon>
            <ion-icon range-right name="ios-people-outline"></ion-icon>
          </ion-range>
        </ion-item>

        <ion-item class="do padding">
          <ion-label> <ion-icon name="ios-shirt-outline"></ion-icon></ion-label>
          <ion-input id="places" placeholder="Select Laguage"  clearInput type="text" [(ngModel)]="booking.laguage"></ion-input>
        </ion-item><br>

        <div class="padding">
          <button style="border-color: #0e5387;margin:15px;width:50vw;border-radius:50px;left:20vw;" color="sibleColor" class="modal button" ion-button (click)="closeModal()">Book</button>
        </div>

      </div>








</ion-content>
